body {
    font-family: 'Recursive', sans-serif;
}

.top {
    display: flex;
    justify-content: center;
    padding: 2em;
    align-items: center;
    margin-top: -2em;
}

h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 4em;
    color: black;
    margin-bottom: 1rem;
}

#robot {
    width: 5em;
    display: flex;
    padding: 2em;
}

h2 {
    display: flex;
    margin: auto;
    justify-items: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: orange;
    border-radius: 20px;
    height: 3em;
    font-size: 1.2em;
    padding: 10px;
    width: 50em;
    
}

#form {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.3em;
}

#submitButton {
    display: flex;
    margin: auto;
    
}

#response {
    color: red;
    text-align: center;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: center;
    margin: auto;
    justify-items: center;

}

#again {
    margin: auto;
    display: flex;
    visibility: hidden;

}

@media screen and (max-width: 995px) {
    h2 {
        width: 30em;
    }
}

@media screen and (max-width: 620px) {
    h2 {
        width: 20em;
    }
    
}

@media screen and (max-width: 520px) {
    h2 {
        width: 15em;
        height: auto;
    }
    .instructions {
        font-size: 1em;
    }

    #robot {
        width: 3em;
        display: flex;
        padding: .5em;
    }

    h1 {
        font-size: 2.5em;
    }

    #form {
        font-size: 1em;
    }



